.table-wrapper {
    max-width: 100%;
    overflow: auto;
    padding: 25px;
    border-radius: 7px;
}

table {
    table-layout: fixed;
    width: 100%;
    font-size: 25px;
    min-width: 700px;
    border-collapse: collapse;
}

.block {
    font-size: 18px;
    padding: 12px;
}

.block.long {
    background: #465ec4;
    color: white;
}

.time {
    font-size: 15px;
}


th, td {
    text-align: center;
    text-overflow: ellipsis;
    border: 1px solid #d9d9d9;
    overflow: hidden;
}

th {
    width: 12%;
}

th:first-child {
    width: 15%;
}
