.table-wrapper {
    max-width: 100%;
    overflow: auto;
    padding: 25px;
    border-radius: 7px;
}

.schedule-table {
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
    font-size: 25px;
    min-width: 700px;
    border-collapse: collapse;
}

.time-label {
    font-size: 20px;
}

.block {
    font-size: 18px;
    padding: 10px;
}

.block.class {
    font-size: 12px;
}

.block.class > span {
    display: block;
}

.class-name {
    font-weight: 600;
}

.block.long {
    background: #465ec4;
    color: white;
}

.time {
    font-size: 15px;
}


.schedule-table th, td {
    text-align: center;
    text-overflow: ellipsis;
    border: 1px solid #b2b2b2;
    overflow: hidden;
}

th {
    width: 12%;
}

th:first-child {
    width: 15%;
}


@media print {

    body,
    html {
        overflow: hidden;
    }

    .table-wrapper {
        position: fixed;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background: white;
        top: 0;
        left: 0;
        border-radius: 0;
    }

    .block {
        -webkit-print-color-adjust: exact !important; /* Chrome, Safari */
        color-adjust: exact !important; /*Firefox*/
    }

    .time-label {
        font-weight: 600;
        font-size: 18px;
    }

    thead {
        display: table-row-group
    }
}

@media only print and (max-width: 670px) {
    .block.class {
        font-size: 10px;
        padding: 5px;
    }
}
