<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Blind Brook Schedule Creator</title>
    <link rel='stylesheet' href='/css/header.css'/>
    <link rel='stylesheet' href='/css/about.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%- include header.ejs %>
<div class="content-container about-container">
    <h1>About</h1>
    <p>Blind Brook Schedule Creator was created to help students of Blind Brook with their schedule. The website generates iCal files and a printable schedule in accordance with the letter day schedule and bell times.</p>
    <p>Blind Brook Schedule Creator is completely open source and is on GitHub: <a href="https://github.com/jbis9051/Blind-Brook-Calendar-Creator/">https://github.com/jbis9051/Blind-Brook-Calendar-Creator/</a></p>
    <p>Blind Brook Schedule Creator was created by Josh Brown and is released under the  <a href="https://github.com/jbis9051/Blind-Brook-Calendar-Creator/blob/master/LICENSE">MIT License</a>.</p>
    <p>If you encounter any issue with the website please <a href="https://github.com/jbis9051/Blind-Brook-Calendar-Creator/issues/new">open an issue</a> on GitHub or contact me directly.</p>
    <p>My website is <a href="https://joshbrown.info">https://joshbrown.info</a>.</p>
</div>
<%- include footer.ejs %>
</body>
</html>
