<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blind Brook Schedule Creator</title>
    <link rel='stylesheet' href='/css/form.css'/>
    <link rel='stylesheet' href='/css/header.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="header-container">
    <h1 class="tile">Blind Brook Schedule Creator 2019</h1>
</div>
<div class="content-container">
    <h1><%= errorTitle %></h1>
    <p><%= errorMessage %></p>
</div>
<%- include footer.ejs %>
</body>
</html>
