<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blind Brook Schedule Creator Error</title>
    <link rel='stylesheet' href='/css/form.css'/>
    <link rel='stylesheet' href='/css/header.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%- include header.ejs %>
<div class="content-container">
    <h1><%= errorTitle %></h1>
    <p><%= errorMessage %></p>
</div>
<%- include footer.ejs %>
</body>
</html>
