<footer class="footer-container">
    <span class="copyright"><a target="_blank"
                               href="https://joshbrown.info">Copyright &copy; <%= new Date().getFullYear() %>  Josh Brown & Johnny Ramirez</a></span>
</footer>
