<div class="header-container">
    <a href="/"><h1 class="title">Blind Brook Schedule Creator 2019</h1></a>
    <nav>
        <ul class="nav-bar">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</div>
