<div class="header-container">
    <a href="/"><h1 class="title">Blind Brook Schedule Creator</h1></a>
    <span class="year-version">2020 - 2021</span>
    <nav>
        <ul class="nav-bar">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</div>
