<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blind Brook Schedule Creator</title>
    <link rel='stylesheet' href='/css/index.css?v=2'/>
    <link rel='stylesheet' href='/css/form.css?v=2'/>
    <link rel='stylesheet' href='/css/header.css?v=2'/>
    <link rel='stylesheet' href='/css/import.css?v=2'/>
    <link rel='stylesheet' href='/css/table.css?v=2'/>
    <link rel='stylesheet' href='/css/print.css?v=2'/>

    <meta property="og:title" content="Blind Brook Scheduler"/>
    <meta property="og:image" content="https://bbscheduler.com/favicon/logo.png"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://bbscheduler.com"/>
    <meta name="description"
          content="Generate iCal files and a printable schedule for your Blind Brook Schedule using bbscheduler.com. Keywords: BB Scheduler, Blind Brook schedule creator, blind brook schedule generator">


    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="header-container">
    <h1 class="tile">Blind Brook Schedule Creator 2019</h1>
    <p class="description">Enter your classes below or import them from eSchoolData and a schedule will be generated based off of the the current block
        schedule. When you're done, click the "Done" button at the bottom of the page.</p>
    <b style="font-size: 25px">If you generated a schedule before Aug 30th @ 7:30pm there was an issue that combined all schedules. Please delete your old schedule and regenerate.</b>
    <p style="font-size: 25px">New Feature: A printable schedule generator has been added. When you click "Download" it will popup.</p>
</div>
<div active id="main" class="content-container">
    <div class="directions-wrapper">
        <p>For "Letter Days", input the letter days the class applies to separated by commas. For example
            "A,C,D,F,G,H".</p>
        <p>Room is optional.</p>
        <p>To add more classes click the "Add Class" button below.</p>
        <b>Click the "X" to delete classes you don't use.</b>
    </div>
    <button class="standard-button"  id="open-import-button">Import From eSchool Data</button>
    <div class="import-container">
        <p class="instructions">Copy and Paste Your Data from eSchool Data and then click import</p>
        <video playsinline autoplay loop muted src="/video/tutorialow.mp4" class="import-data-how-to"></video>
        <textarea placeholder="Paste Data" class="import-input"></textarea>
        <button class="standard-button" id="import-button">Import</button>
    </div>
    <button class="standard-button" id="add-class-button">Add Class</button>
    <p class="num-class">Number of classes: <span id="class-counter">0</span></p>
    <form method="POST" action="/submit-cal" id="main_form">
        <div class="lunch-selector checkbox-wrapper"><label><input type="checkbox" name="lunch"><span>Include lunch in calendar file</span></label></div>
    </form>
    <button class="standard-button" id="submit-button">Download</button>
</div>
<div class="content-container" id="submit-message">
    <h1>Thanks for using Blind Brook Schedule Creator!</h1>
    <p>Your file should have started downloading (unless you got an error). If you are on an iPhone (I suggest this),
        tap "Add All". If you are on a computer and want to send it to your iPhone, I suggest email. If you are on a
        Chromebook, follow step 2 <a href="https://support.google.com/calendar/answer/37118?hl=en">here</a>. If you are
        on a Mac and use the Calendar application, double click the file and add it to your calendar. Otherwise use the
        link for the Chromebook.</p>
    <h1>Printable Schedule</h1>
    <p>Go to File > Print to print this table. Make sure to choose landscape for the "Layout"/"Orientation".</p>
    <div id="printable_schedule" class="printable">
    </div>
</div>
<%- include footer.ejs %>
<script>
    const $ = document.querySelector.bind(document);
    const $$ = document.querySelectorAll.bind(document);

    const startingClassAmount = <%= startingClassAmount %>;
    const class_form_html = `<input type="text" class="class-name" placeholder="Class Name" name="names[]">
    <input type="tel"  class="period" min="1" max="9" step="1" placeholder="Period" name="periods[]">
    <input type="text"  class="letter-name" placeholder="Letter Days" name="letters[]">
    <input type="text" class="room" placeholder="Room" name="rooms[]">
<button class="delete-button" type="button">×</button>`;

    let autosaved = window.localStorage.getItem("student-data");
    if(autosaved && (autosaved = JSON.parse(autosaved))&& autosaved.length > 0){
        autosaved.forEach(cl => {
            addClass(cl.name,cl.period,cl.letters,cl.room);
        });
    } else {
        for (let i = 0; i < startingClassAmount; i++) {
            addClass();
        }
    }


    $('#add-class-button').addEventListener('click', e => addClass() && saveToStorage());
    $('#main_form').addEventListener("click", ev => {
        if (ev.target && ev.target.classList.contains('delete-button')) {
            ev.target.parentElement.remove();
            updateClassCounter();
            saveToStorage();
        }
    });
    $('#main_form').addEventListener("focusout", ev => {
        if (ev.target && ev.target.tagName.toLowerCase() === "input") {
            saveToStorage();
        }
    });

    $$('.period').forEach(el => {
        el.addEventListener('keyup', e => checkPeriodNums(true));
    });
    $$('.letter-name').forEach(el => {
        el.addEventListener('keyup', e => checkLetterDays(true));
    });

    function checkPeriodNums(acceptEmpty) {
        let valid = true;
        $$('.period-error').forEach(e => e.remove());
        $$('.period').forEach(e => {

            if ((e.value === "" && !acceptEmpty) || isNaN(e.value) || parseInt(e.value) > 9 || parseInt(e.value) < 1) {
                valid = false;
                e.insertAdjacentHTML('beforebegin', '<span class="form-error period-error">Please fill in a valid number between 1 and 9</span>')
            }
        });
        return valid;
    }

    function checkClassNames() {
        let valid = true;
        $$('.class-error').forEach(e => e.remove());
        $$('.class-name').forEach(e => {
            if (e.value.trim() === "") {
                valid = false;
                e.insertAdjacentHTML('beforebegin', '<span class="form-error class-error">Please fill in a valid name</span>')
            }
        });
        return valid;
    }

    function checkLetterDays(acceptEmpty) {
        let valid = true;
        $$('.letter-error').forEach(e => e.remove());
        $$('.letter-name').forEach(e => {
            if (e.value.trim() === "") {
                if (acceptEmpty) {
                    return;
                }
                valid = false;
                e.insertAdjacentHTML('beforebegin', '<span class="form-error letter-error">Please fill in letter days</span>')
            } else if (!e.value.match(/([A-H],?)*[A-H]$/)) {
                valid = false;
                e.insertAdjacentHTML('beforebegin', '<span class="form-error letter-error">Please fill in a letter days in the following format: "A,C,D,F,G,H".</span>')
            }

        });
        return valid;
    }

    function updateClassCounter() {
        $('#class-counter').innerText = $$('.class-input-group').length;
    }

    /**
     *
     * @param name
     * @param period
     * @param letterday
     * @param room
     */
    function addClass(name = undefined,period =undefined,letterday =undefined,room = undefined) {
        const div = document.createElement('div');
        div.classList.add('class-input-group');
        div.innerHTML = class_form_html;
        if(name){
            div.querySelector('.class-name').value = name;
            div.querySelector('.period').value = period;
            div.querySelector('.letter-name').value = letterday;
            div.querySelector('.room').value = room;
        }
        $('#main_form').append(div);
        updateClassCounter();
    }

    $('#submit-button').addEventListener('click', e => {
        $$('.submit-error').forEach(e => e.remove());
        const names = checkClassNames();
        const letters = checkLetterDays(false);
        const periods = checkPeriodNums(false);

        if (!names || !letters || !periods) {
            e.target.insertAdjacentHTML('beforebegin', '<span class="form-error submit-error">Please fix the errors above.</span>')
        } else if ($$('.class-input-group').length === 0) {
            e.target.insertAdjacentHTML('beforebegin', '<span class="form-error submit-error">If you have no classes you don\'t need a schedule. ;) Please add add least one class.</span>')
        } else {
            const data = new URLSearchParams(new FormData($('#main_form')));
            fetch('/submit-html', {
                method: 'POST',
                body: data
            }).then(res => res.text()).then(html => {
                $('#printable_schedule').innerHTML = html + `<p class="only-print">Created by bbscheduler.com Copyright &copy; ${new Date().getFullYear()} Josh Brown </p>`;
                $('#main_form').submit();
            });
            $('#main').removeAttribute("active");
            $('#submit-message').setAttribute("active", "");
        }
    });
    function saveToStorage() {
        console.log("Autosave");
        window.localStorage.setItem("student-data",JSON.stringify(arrayFromInputs()));
    }
    function arrayFromInputs() {
        let array = [];
        $$('.class-input-group').forEach(el => {
            array.push({
                name: el.querySelector('.class-name').value,
                period: el.querySelector('.period').value,
                letters: el.querySelector('.letter-name').value,
                room: el.querySelector('.room').value
            });
        });
        return array;
    }

    $('#open-import-button').addEventListener("click",(ev => {
        $('.import-container').setAttribute("active","");
    }));
    $('#import-button').addEventListener("click",(ev => {
        $$('.class-input-group').forEach(el => {
            if(el.querySelector('.class-name').value === ""){
                el.querySelector('.delete-button').click();
            }
        });
        const input = $('.import-input').value;
        const classes = input.split("\n");
        classes.forEach(aClass => {
            const attributes = aClass.split("\t");
            if(attributes[0] === "Days" || !attributes[0].match(/([A-H],?)*[A-H]$/)){ /* if they copied the headers or something else then skip it */
                return;
            }
            if(parseInt(attributes[1]) === 9){ // community service will be the only thing 9th period and it is not included on the schedule so we skip it
                return;
            }
            addClass(attributes[4],attributes[1],attributes[0],attributes[2]);
        });
        $('.import-container').removeAttribute("active");
        saveToStorage();
    }));
</script>
</body>
</html>
