<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blind Brook Schedule Creator</title>
    <link rel='stylesheet' href='/css/index.css?v=2'/>
    <link rel='stylesheet' href='/css/form.css?v=2'/>
    <link rel='stylesheet' href='/css/header.css?v=2'/>
    <link rel='stylesheet' href='/css/import.css?v=2'/>
    <link rel='stylesheet' href='/css/table.css?v=2'/>
    <link rel='stylesheet' href='/css/print.css?v=2'/>

    <meta property="og:title" content="Blind Brook Scheduler"/>
    <meta property="og:image" content="https://bbscheduler.com/favicon/logo.png"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://bbscheduler.com"/>
    <meta name="description"
          content="Generate iCal files and a printable schedule for your Blind Brook Schedule using bbscheduler.com. Keywords: BB Scheduler, Blind Brook schedule creator, blind brook schedule generator">



    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?v=rMJqN4q9KJ">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v=rMJqN4q9KJ">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v=rMJqN4q9KJ">
    <link rel="manifest" href="/favicon/site.webmanifest?v=rMJqN4q9KJ">
    <link rel="shortcut icon" href="/favicon/favicon.ico?v=rMJqN4q9KJ">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml?v=rMJqN4q9KJ">
    <meta name="theme-color" content="#ffffff">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%- include header.ejs %>
<div active id="main" class="content-container">
    <div class="directions-wrapper">
        <b style="font-size: 20px">If you generated a schedule before Aug 30th @ 7:30pm there was an issue that combined all schedules. Please delete your old schedule and regenerate.</b>
        <p class="description">Enter your classes below or import them from eSchoolData and a schedule will be generated based off of the the current block
            schedule. When you're done, click the "Done" button at the bottom of the page.</p>
        <p>For "Letter Days", input the letter days the class applies to separated by commas. For example
            "A,C,D,F,G,H".</p>
        <p>Room is optional.</p>
        <p>To add more classes click the "Add Class" button below.</p>
        <b>Click the "X" to delete classes you don't use.</b>
    </div>
    <button class="standard-button"  id="open-import-button">Import From eSchool Data</button>
    <div class="import-container">
        <p class="instructions">Copy and Paste Your Data from eSchool Data and then click import</p>
        <video playsinline autoplay loop muted src="/video/tutorialow.mp4" class="import-data-how-to"></video>
        <textarea placeholder="Paste Data" class="import-input"></textarea>
        <button class="standard-button" id="import-button">Import</button>
    </div>
    <button class="standard-button" id="add-class-button">Add Class</button>
    <p class="num-class">Number of classes: <span id="class-counter">0</span></p>
    <form method="POST" action="/submit-cal" id="main_form">
        <div class="lunch-selector checkbox-wrapper"><label><input type="checkbox" name="lunch"><span>Include lunch in calendar file</span></label></div>
        <label>
            <span class="school-selector-label">Select A School Type:</span>
            <select id="type_selector" name="type">
                <option disabled>Select A Type</option>
                <option value="0">Middle School</option>
                <option value="1" selected>High School</option>
            </select>
        </label>
        <hr>
    </form>
    <button class="standard-button" id="submit-button">Download</button>
</div>
<div class="content-container" id="submit-message">
    <h1>Thanks for using Blind Brook Schedule Creator!</h1>
    <p>Your file should have started downloading (unless you got an error). If you are on an iPhone (I suggest this),
        tap "Add All". If you are on a computer and want to send it to your iPhone, I suggest email. If you are on a
        Chromebook, follow step 2 <a href="https://support.google.com/calendar/answer/37118?hl=en">here</a>. If you are
        on a Mac and use the Calendar application, double click the file and add it to your calendar. Otherwise use the
        link for the Chromebook.</p>
    <h1>Printable Schedule</h1>
    <p>Go to File > Print to print this table. Make sure to choose landscape for the "Layout"/"Orientation".</p>
    <div id="printable_schedule" class="printable">
    </div>
</div>
<%- include footer.ejs %>
<script>
    const startingClassAmount = <%= startingClassAmount %>;
</script>
<script src="/js/main.js"></script>
</body>
</html>
