.import-container {
    display: none;
    margin: 0;
    border: solid #dddddd 1px;
    border-radius: 0.25rem;
    padding: 10px;
}
.import-container[active] {
    display: block;
}
.import-data-how-to {
    display: block;
    width: 100%;
    height: auto;
}
.instructions {
    text-align: center;
    margin: 0;
}
.import-input {
    font-size: 18px;
    padding: 10px;
    border-radius: 0.25rem;
    border: 1px solid #dedede;
    margin-bottom: 10px;
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    height: 200px;
}
