/*
https://stackoverflow.com/a/2618980/7886229
 */
.only-print {
    display: none;
}
@media print {
    body {
        margin: 0;
        padding: 0;
        background: white;
    }
    body * {
        visibility: hidden;
    }
    .printable, .printable * {
        visibility: visible;
    }
    .printable {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
    }
    .only-print {
        display: block;
    }
}
