/*
https://stackoverflow.com/a/2618980/7886229
 */
.only-print {
    display: none;
}

@media print {
    body {
        margin: 0;
        padding: 0;
        background: white;
    }

    body * {
        visibility: hidden;
    }

    .printable, .printable * {
        visibility: visible;
    }

    .printable {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .only-print {
        display: block;
    }
}
