table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
    font-size: 30px;
}
thead {
    display: table-row-group;
}
.time {
    font-size: 20px;
}
.lunch {
    background: #c5dbf0;
}
.class {
    font-size: 13px;
    overflow: hidden;
}
table, th, td {
    text-align: center;
    text-overflow: ellipsis;
    border: 1px solid black;
}
th {
   width: 12%;
}
th:first-child {
    width: 15%;
}

