.add-class-modal {
    background: white;
    padding: 20px;
    border-radius: 7px;
    width: 500px;
}

.standard-form {
    display: flex;
    flex-direction: column;
}

.add-class-modal input, .add-class-modal select {
    font-size: 18px;
    border-radius: 0.25rem;
    border: 1px solid #c4c4c4;
    padding: 5px 5px 5px 10px;
    margin-bottom: 10px;
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.add-class-modal select {
    -webkit-appearance: none;
}
