.edit-modal {
    background: white;
    padding: 20px;
    border-radius: 7px;
    width: 1000px;
    max-width: 100%;
    overflow: auto;
}

.edit-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.edit-classes-table {
    table-layout: auto;
    width: 100%;
    margin: 0 auto;
    min-width: 700px;
    border-collapse: collapse;
}
