.import-modal {
    background: white;
    padding: 20px;
    border-radius: 7px;
    min-width: 500px;
    max-width: 100%;
}

.import-input-container {
    display: flex;
}

.import-title {
    text-align: center;
}

.import-input {
    font-size: 18px;
    padding: 10px;
    border-radius: 0.25rem;
    border: 1px solid #c4c4c4;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    height: 200px;
}

.import-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.success-msg {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    display: block;
}

.import-tutorial {
    width: 100%;
}
