.button {
    padding: 10px 15px;
    background-color: #3c48cd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    white-space: nowrap;
}

.button.full {
    flex: 1;
    width: 100%;
}

.button.add {
    background-color: #7095ff;
}

.button.bad {
    background-color: #ff5953;
}
