.create-wrapper {
    background: white;
    padding: 25px;
    border-radius: 4px;
}

.school-selector {
    width: 100%;
    max-width: 800px;
    margin: 15px auto;
    border: 1px #3c48cd solid;
    border-radius: 60px;
    display: flex;
    overflow: hidden;
}

.school-switch {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    flex: 1;
    padding: 8px;
    text-align: center;
    border-right: 1px solid #3c48cd;
    position: relative;
    font-weight: 400;
    color: #3c48cd;
    background: white;
    transition: background-color 100ms, color 100ms;
}

.school-switch:last-child {
    border: none;
}

.school-switch.selected {
    font-weight: 500;
    background: #3c48cd;
    color: white;
}
.button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 600px) {
    .button-wrapper {
        flex-direction: column;
    }
}
