.school-selector {
    width: 100%;
    max-width: 800px;
    margin: 15px auto;
    border: 1px #14A2FF solid;
    border-radius: 60px;
    display: flex;
    overflow: hidden;
}

.school-switch {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    flex: 1;
    padding: 8px;
    text-align: center;
    border-right: 1px solid #14A2FF;
    position: relative;
    font-weight: 400;
    color: #14A2FF;
    background: white;
    transition: background-color 100ms, color 100ms;
}

.school-switch:last-child {
    border: none;
}

.school-switch.selected {
    font-weight: 500;
    background: #14A2FF;
    color: white;
}
.button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    margin: 15px 5px;
    padding: 10px 20px;
    background-color: #14A2FF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    white-space: nowrap;
}

.button.add {
    background-color: #00b68d;
}
