html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background: #032452;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    text-align: center;
}


.standard-button {
    margin: 15px auto;
    padding: 10px 60px;
    background-color: #ff2826;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    font-size: 18px;
}

.standard-button[hidden] {
    display: none;
}
.standard-button:hover  {
    color: #e8e8e8;
    background-color: #98000b;
}
