.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    text-align: center;
    box-sizing: content-box;
}

.header-container a {
    text-decoration: none;
    color: inherit;
}

.site-name {
    font-size: 20px;
    margin: 0;
    color: #14A2FF;
}

.year-version {
    font-weight: bold;
    font-size: 15px;
}
