.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;
    box-sizing: content-box;
    background: #515cc8;
    color: white;
}

.header-container a {
    text-decoration: none;
    color: inherit;
}

.site-name {
    font-size: 22px;
    font-weight: 800;
    margin: 0 0 0 10px;
}

.year-version {
    font-weight: bold;
    font-size: 15px;
}
