.nav-item {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    margin: 0 20px;
}

.nav-item > a, .nav-item > span {
    display: block;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
}

.nav-item:hover {
    color: #6c6c6c;
}
